{%- if section.settings.slideshow_height == 'adapt' -%}
  {% comment %}
    'min_aspect_ratio' is the minimum aspect ratio of images shown without
    whitespace when 'slideshow_height' is set to 'adapt'.
    The aspect ratio values for the first image in the slideshow will be used
    unless it is blank, in that case a ratio of 2:1 will be used.
  {% endcomment %}

  {%- assign first_block = section.blocks[0] -%}
  {%- if first_block.settings.image.aspect_ratio == blank -%}
    {%- assign min_aspect_ratio = 2.0 -%}
  {%- else -%}
    {%- assign min_aspect_ratio = first_block.settings.image.aspect_ratio -%}
  {%- endif -%}
  {% assign wrapper_height = 100 | divided_by: min_aspect_ratio %}
{%- endif -%}

{% comment %}Mobile version{% endcomment %}
{%- if section.settings.slideshow_height_mobile == 'adapt' -%}
  {%- assign first_block = section.blocks[0] -%}
  {%- if first_block.settings.image.aspect_ratio == blank -%}
    {%- assign min_aspect_ratio_mobile = 2.0 -%}
  {%- else -%}
    {%- assign min_aspect_ratio_mobile = first_block.settings.image.aspect_ratio -%}
  {%- endif -%}
  {% assign wrapper_height = 100 | divided_by: min_aspect_ratio_mobile %}
{%- endif -%}

{%- assign text_alignments = section.settings.text_alignment | split: ' ' -%}
{%- assign text_horizontal_alignment = text_alignments.first -%}
{%- assign text_vertical_alignment = text_alignments.last | strip -%}

<div class="slideshow-section" data-section-id="{{ section.id }}" data-section-type="slideshow-section">
  {%- if section.blocks.size > 0 -%}
    <div id="SlideshowWrapper-{{ section.id }}" class="slideshow-wrapper" role="region" aria-label="slideshow" aria-describedby="slideshow-info" tabindex="-1">
      <div class="slideshow slideshow--{{ section.settings.slideshow_height }} slideshow-mobile--{{ section.settings.slideshow_height_mobile }} {% if display_controls %} slideshow--display-controls{% endif %}"
           id="Slideshow-{{ section.id }}"
           data-autorotate="{{ section.settings.autorotate }}"
           data-speed="{{ section.settings.autorotate_speed | times: 1000 }}"
           data-adapt-height="{% if section.settings.slideshow_height == 'adapt' or section.settings.slideshow_height_mobile == 'adapt' %}true{% else %}false{% endif %}"
           data-slide-nav-a11y="{{ 'sections.slideshow.load_slide' | t: slide_number: '[slide_number]' }}"
           {% if section.settings.slideshow_height == 'adapt' %}data-min-aspect-ratio="{{ min_aspect_ratio }}"
           style="height: {{- wrapper_height -}}vw"{% endif %}
           {% if section.settings.slideshow_height_mobile == 'adapt' %}data-min-aspect-ratio_mobile="{{ min_aspect_ratio_mobile }}"{% endif %}>

        {%- for block in section.blocks -%}

          {%- assign background_position = block.settings.alignment | split: '%' -%}
          {%- assign background_y = background_position[1] -%}
          <div class="slideshow__slide {{block.name}} {% if block.type == 'image-1' %}slideshow__slide--mobile{% else %}slideshow__slide--desktop{% endif %} slideshow__slide--{{ block.id }}" {{ block.shopify_attributes }}>
            {% if block.settings.image == blank %}
              <div class="slideshow__image js">
                <div class="placeholder-background">
                  {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                  {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
              </div>
            {% else %}
              <div class="slideshow__image box ratio-container lazyload {% if section.settings.slide_movement %}slideshow__image--movement{% endif %} {% unless forloop.first %} lazypreload{% endunless %} js"
                   data-bgset="{% include 'bgset', image: block.settings.image %}"
                   data-sizes="auto"
                   data-parent-fit="contain"
                   style="
                   {% if section.settings.slide_movement %}
                   background-position-y: {{background_y}}%;
                   background-position-x: calc(50% {% if section.settings.movement_direction == "right" %}+{% else %}-{% endif %} {{ section.settings.movement_distance }}px);
                   {% else %}
                   background-position: {{ block.settings.alignment }};
                   {% endif %}
                   background-image: url('{{ block.settings.image | img_url: '300x300' }}');">
              </div>
            {% endif %}

            <noscript>
              <div class="slideshow__image"{% if block.settings.image %} style="background-image: url('{{ block.settings.image | img_url: '2048x' }}'); background-position: {{ block.settings.alignment }};"{% endif %}>
                {% if block.settings.image == blank %}
                  <div class="placeholder-background">
                    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                {% endif %}
              </div>
            </noscript>

            <div class="slideshow__text-wrap slideshow__text-wrap--desktop">
              <div class="slideshow__text-content slideshow__text-content--vertical-{{ text_vertical_alignment }} text-{{ text_horizontal_alignment }}">
                <div class="page-width">
                  {% unless block.settings.slide_title == blank and block.settings.subheading == blank %}
                    <ul class="slideshow__text-content-list {% if section.settings.show_overlay %}slideshow__text-content-list--overlay{% endif %}">
                      {% if section.settings.show_overlay %}
                      <div class="slideshow__text-content-list--horizontal"></div>
                      {% endif %}
                      {%- unless block.settings.slide_title == blank -%}
                        <li>
                          <h2 class="h1 mega-title slideshow__title{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}">
                            {{ block.settings.slide_title | escape }}
                          </h2>
                        </li>
                      {%- endunless -%}
                      {%- unless block.settings.subheading == blank -%}
                        <li>
                          <span class="mega-subtitle slideshow__subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">
                            {{ block.settings.subheading | escape }}
                          </span>
                        </li>
                      {%- endunless -%}
                      {%- assign show_link_button = false -%}
                      {%- if block.settings.button_label != blank and block.settings.button_link != blank -%}
                        {%- assign show_link_button = true -%}
                      {%- endif -%}
                      {%- if show_link_button -%}
                        <li>
                          <div class="slideshow__btn-wrapper{% if block.settings.slide_title != blank or block.settings.subheading != blank %} slideshow__btn-wrapper--push{% endif %}">
                            <a href="{{ block.settings.button_link }}" class="btn btn-red slideshow__btn">
                            {{ block.settings.button_label | escape }}
                            </a>
                          </div>
                        </li>
                      {%- endif -%}
                      {% if section.settings.show_overlay %}
                      <div class="slideshow__text-content-list--vertical"></div>
                      {% endif %}
                    </ul>
                  {% endunless %}

                </div>
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>

      <div class="slideshow__controls">
        {%- if section.blocks.size > 1 -%}
          {%- assign arrows_width = section.blocks.size | times: 18 | plus: 115 -%}
          <div class="slideshow__arrows"
               style="width: {{- arrows_width -}}px">
          </div>
        {%- endif -%}
      </div>
    </div>

    <div class="slideshow__text-container">
      <div class="slideshow__text-wrap slideshow__text-wrap--mobile">
      {% assign mobile_loop = -1 %}
      {%- for block in section.blocks -%}
        {% if block.type == 'image-1' %}
          {% assign mobile_loop = mobile_loop | plus: 1 %}
        {% endif %}
        {%- assign show_text = false -%}
        {%- unless block.settings.mobile_slide_title == blank and block.settings.mobile_subheading == blank -%}
          {%- assign show_text = true -%}
        {%- endunless -%}
        {%- assign show_link_button = false -%}
        {%- if block.settings.mobile_button_label != blank and block.settings.mobile_button_link != blank -%}
          {%- assign show_link_button = true -%}
        {%- endif -%}
        {%- if show_text or show_link_button -%}
          <div class="slideshow__text-content slideshow__text-content-list slideshow__text-content--mobile slideshow__text-content--mobile-{{ mobile_loop }} text-center {% if section.settings.show_overlay %}slideshow__text-content-list--overlay{% endif %}">
            {% if section.settings.show_overlay %}
            <div class="slideshow__text-content-list--vertical"></div>
            {% endif %}
            <div class="page-width">
              {%- unless block.settings.mobile_slide_title == blank -%}
                <h2 class="h1 mega-title slideshow__title slideshow__title--mobile{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}">
                  {{ block.settings.mobile_slide_title | escape }}
                </h2>
              {%- endunless -%}
              {%- unless block.settings.mobile_subheading == blank -%}
                <span class="mega-subtitle slideshow__subtitle slideshow__subtitle--mobile{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">
                  {{ block.settings.mobile_subheading | escape }}
                </span>
              {%- endunless -%}

              {%- if show_link_button -%}
                <a href="{{ block.settings.button_link }}" class="btn slideshow__btn slideshow__btn--mobile">
                  {{ block.settings.mobile_button_label | escape }}
                </a>
              {%- endif -%}
            </div>
            {% if section.settings.show_overlay %}
              <div class="slideshow__text-content-list--horizontal"></div>
            {% endif %}
          </div>
        {%- endif -%}
      {%- endfor -%}
      </div>
      {% if section.blocks.size > 1 %}
        <div class="slideshow__arrows slideshow__arrows--mobile">
        </div>
      {% endif %}
    </div>
  {%- endif -%}



  {% if section.blocks.size == 0 %}
    <div class="placeholder-noblocks">
      {{ 'homepage.onboarding.no_content' | t }}
    </div>
  {% endif %}
</div>

<style>
   @keyframes slide_movement {
    0% { background-position-x: 50%; }
    100% { background-position-x: calc(50% {% if section.settings.movement_direction == "right" %}+{% else %}-{% endif %} {{ section.settings.movement_distance }}px) 50%; }
  }

  .slick-active .slideshow__image.slideshow__image--movement {
    animation-fill-mode: forwards;
    -webkit-animation: slide_movement {{ section.settings.autorotate_speed | plus: 2 }}s 1 linear; 
    -moz-animation:    slide_movement {{ section.settings.autorotate_speed | plus: 2 }}s 1 linear;
    -o-animation:      slide_movement {{ section.settings.autorotate_speed | plus: 2 }}s 1 linear; 
    animation:         slide_movement {{ section.settings.autorotate_speed | plus: 2 }}s 1 linear; 
  }

</style>

{% comment %}<style>

  @keyframes slide_movement {
    0% { background-position: 50% 50%; }
    100% { background-position: 60% 50%; }
  }

  .slick-active .slideshow__image {
    -webkit-animation: slide_movement {{ section.settings.autorotate_speed | times: 1000 }}s 1 ease-in-out; 
    -moz-animation:    slide_movement {{ section.settings.autorotate_speed | times: 1000 }}s 1 ease-in-out; 
    -o-animation:      slide_movement {{ section.settings.autorotate_speed | times: 1000 }}s 1 ease-in-out; 
    animation:         slide_movement {{ section.settings.autorotate_speed | times: 1000 }}s 1 ease-in-out; 
  }

</style>{% endcomment %}

{% schema %}
{
  "name": "Slideshow",
  "class": "index-section index-section--flush index-section--slideshow",
  "max_blocks": 6,
  "settings": [
    {
      "type": "select",
      "id": "slideshow_height",
      "label": "Slide Height Desktop",
      "default": "adapt",
      "options": [
        {
          "label": "Adapt for first image",
          "value": "adapt"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Screen Height",
          "value": "screen-height"
        }
      ]
    },
    {
      "type": "select",
      "id": "slideshow_height_mobile",
      "label": "Slide Height Mobile",
      "default": "adapt",
      "options": [
        {
          "label": "Adapt for first image",
          "value": "adapt"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Screen Height",
          "value": "screen-height"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "Text size",
      "default": "medium",
      "options": [
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text Alignment",
      "default": "left top",
      "options": [
        {
          "label": "Top Left",
          "value": "left top"
        },
        {
          "label": "Top Center",
          "value": "center top"
        },
        {
          "label": "Top Right",
          "value": "right top"
        },
        {
          "label": "Middle Left",
          "value": "left center"
        },
        {
          "label": "Middle Center",
          "value": "center center"
        },
        {
          "label": "Middle Right",
          "value": "right center"
        },
        {
          "label": "Bottom Left",
          "value": "left bottom"
        },
        {
          "label": "Bottom Center",
          "value": "center bottom"
        },
        {
          "label": "Bottom Right",
          "value": "right bottom"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_overlay",
      "label": "Show Overlay",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "autorotate",
      "label": "Autorotate",
      "default": false
    },
    {
      "type": "range",
      "id": "autorotate_speed",
      "label": "Slides Every: ",
      "max": 9,
      "min": 3,
      "step": 1,
      "unit": "s",
      "default": 5
    },
    {
      "type": "checkbox",
      "id": "slide_movement",
      "label": "Slide Swipe Animation",
      "default": true,
      "info": "When adding the Slide Swipe Transition, images are scaled slightly larger to allow them to move without creating empty space"
    },
    {
      "type": "range",
      "id": "movement_distance",
      "label": "Slide Movement:",
      "max": 50,
      "min": 0,
      "step": 1,
      "unit": "px",
      "default": 20
    },
    {
      "type": "select",
      "id": "movement_direction",
      "label": "Movement Direction",
      "default": "left",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Desktop Image Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image Position",
          "default": "50% 50%",
          "info": "Note: If you have selected 'Slide Swipe Animation', images will be centered horizontally. Vertical positioning will still be applied",
          "options": [
            {
              "label": "Top Left",
              "value": "0% 0%"
            },
            {
              "label": "Top Center",
              "value": "50% 0%"
            },
            {
              "label": "Top Right",
              "value": "100% 0%"
            },
            {
              "label": "Middle Left",
              "value": "0% 50%"
            },
            {
              "label": "Middle Center",
              "value": "50% 50%"
            },
            {
              "label": "Middle Right",
              "value": "100% 50%"
            },
            {
              "label": "Bottom Left",
              "value": "0% 100%"
            },
            {
              "label": "Bottom Center",
              "value": "50% 100%"
            },
            {
              "label": "Bottom Right",
              "value": "100% 100%"
            }
          ]
        },
        {
          "type": "text",
          "id": "slide_title",
          "label": "Heading",
          "default": "Image Slide"
        },
        {
          "type": "textarea",
          "id": "subheading",
          "label": "Slide Text",
          "default": "Lorem ipsum"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    },
    {
      "type": "image-1",
      "name": "Mobile Image Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Mobile Image"
        },
        {
          "type": "select",
          "id": "mobile_alignment",
          "label": "Image Position",
          "default": "50% 50%",
          "info": "Note: If you have selected 'Slide Swipe Animation', images will be centered horizontally. Vertical positioning will still be applied",
          "options": [
            {
              "label": "Top Left",
              "value": "0% 0%"
            },
            {
              "label": "Top Center",
              "value": "50% 0%"
            },
            {
              "label": "Top Right",
              "value": "100% 0%"
            },
            {
              "label": "Middle Left",
              "value": "0% 50%"
            },
            {
              "label": "Middle Center",
              "value": "50% 50%"
            },
            {
              "label": "Middle Right",
              "value": "100% 50%"
            },
            {
              "label": "Bottom Left",
              "value": "0% 100%"
            },
            {
              "label": "Bottom Center",
              "value": "50% 100%"
            },
            {
              "label": "Bottom Right",
              "value": "100% 100%"
            }
          ]
        },
        {
          "type": "text",
          "id": "mobile_slide_title",
          "label": "Heading",
          "default": "Image Slide"
        },
        {
          "type": "textarea",
          "id": "mobile_subheading",
          "label": "Slide Text",
          "default": "Lorem ipsum"
        },
        {
          "type": "text",
          "id": "mobile_button_label",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "mobile_button_link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slideshow",
      "category": "Image",
      "settings": {
        "autorotate": false,
        "autorotate_speed": 5
      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
